@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3></h3>


<div>

    <p class="lead">
        Move is an application designed to get you moving. With all the features to record and save your ride, while also providing calories burned
        based off of the time you've spent moving.
        With Strava integration coming soon, you'll be able to see a list of your rides, save descriptions, and see routes.'
    </p>

</div>