@{
    ViewBag.Title = "Get Moving";
}

<div class="jumbotron" style="        background-image: url(https://lh3.googleusercontent.com/proxy/In4oZOB6iyu_PjoP2sr06EIMEurs9f5cBz7qUkGqo6fkRTpEzheqg8iScykHS_INQ5JlRU7pzcxLppyw5OHbbgcTH8rtFMSue5u7diM8sCe-hlDCjZNE6RdOEaryLbXWiJlRehA6vg1uPBGHl9tGyDH3m-eK0yyWsik);
        background-size: cover">
    <h1><strong>Get Moving...</strong></h1>
    <p class="lead"><strong>Move is an ASP.NET MVC web application used for storing calories burned, and other ride stats all in one place. </strong></p>
    <p><a href="https://moveappwebmvc.azurewebsites.net/Home/About" class="btn btn-warning btn-lg">Get the why &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-3">
        <h2>Locations</h2>
        <p>Start recording locations, and parks now!</p>
        <p><a class="btn btn-success" href="https://moveappwebmvc.azurewebsites.net/Location">Get &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Ride Stats</h2>
        <p>Find your calories burned, and more!</p>
        <p><a class="btn btn-success" href="https://moveappwebmvc.azurewebsites.net/RideStats">Moving &raquo;</a></p>
    </div>
    <div class="col-md-3 col-md-push-1">
        <h2>Saved Rides</h2>
        <p>Access previous rides, and info!</p>
        <p><a class="btn btn-success" href="https://moveappwebmvc.azurewebsites.net/SavedRides">Now &raquo;</a></p>
    </div>
</div>
