@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(https://lh3.googleusercontent.com/proxy/vTKPydlOD1YA53uZwZdEL7a0QX9aC4GCvdh7V-x1e11AukmPW-Gr0tGWXVLEZskLxzQ9vxUqu8UZA-v_YaeMNgLUePTXkUz5Ljs6mdtjI9NqVu3OG11K1W4-GvgFSkMPM5wENfm7r8rt4za_le9s4LZShJYS6GrYYO8); background-size: cover">
    <h1><strong>Get Moving...</strong></h1>
    <p class="lead"><strong>Move is an ASP.NET MVC web application used for storing calories burned, and other ride stats all in one place. </strong></p>
    <p><a href="https://localhost:44359/home/about" class="btn btn-warning btn-lg">Get the why &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-3">
        <h2>Locations</h2>
        <p>Start recording locations, and parks now!</p>
        <p><a class="btn btn-success" href="https://localhost:44359/Location/Index">Get &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Ride Stats</h2>
        <p>Find your calories burned, and more!</p>
        <p><a class="btn btn-success" href="https://localhost:44359/RideStats/Index">Moving &raquo;</a></p>
    </div>
    <div class="col-md-3 col-md-push-1">
        <h2>Saved Rides</h2>
        <p>Access previous rides, and associated info!</p>
        <p><a class="btn btn-success" href="https://localhost:44359/SavedRide/Index">Now &raquo;</a></p>
    </div>
</div>
